body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #D6DAD8;
  min-width: 500px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  color: #4A5C62;
}
h3{
  margin: auto;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}
p{
  margin: 0 auto;
  font-size: 15px;
}
small{
  font-size: 13px;
  color: #80868a;
}
.gbar{
  width: 100%;
  height: 120px;
  background-color: #009588;
  position: fixed;
}
#mainWindow{
  position: absolute;
  display: flex;
  flex-direction: row;
  min-width: 400px;
  width: 70%;
  left: 50%;
  margin-top: 40px;
  height: calc(100% - 70px);
  transform: translateX(-50%);
  box-shadow: 3px 3px 15px 3px grey;
}

/* CONTACTS */
#contacts{
  background-color: #FFF;
  width: 30%;
  height: 100%;
}
.profile{
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDEDED;
  width: 100%;
  height: 60px;
}
.profilePic{
  margin-left: 5px;
  background-image: url("../img/avatar_io.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profileButtons{
  margin-right: 10px;
}
.notificationBox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9DE1FE;
  width: 100%;
  height: 80px;
}
.fa-bell-slash{
  margin-right: 15px;
  font-size: 30px;
  color: #F5FCFF;
}
.textNotif{
  font-size: 13px;
}
.fa-chevron-right{
  color: #4A5C62;
}
/* SEARCH BAR */
.srcBar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  width: 100%;
  height: 60px;
}
.barItself{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: 40px;
  border-radius: 20px;
  background-color: #FFFFFF;
}
#srcButton{
  color: #BDC1C3;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
}
#ChatSrc{
  width: calc(100% - 50px);
  outline: none;
  border: 0;
  padding-left: 5px;
}
/* /SEARCH BAR */
.chats{
  height: calc( 100% - 200px);
  width: 100%;
  overflow-y: scroll;
}
#chatList{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.imgProfiles{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#img1{
  background-image: url("../img/avatar_1.jpg");
}
#img2{
  background-image: url("../img/avatar_2.jpg");
}
#img3{
  background-image: url("../img/avatar_3.jpg");
}
#img4{
  background-image: url("../img/avatar_4.jpg");
}
#img5{
  background-image: url("../img/avatar_5.jpg");
}
#img6{
  background-image: url("../img/avatar_6.jpg");
}
#img7{
  background-image: url("../img/avatar_7.jpg");
}
#img8{
  background-image: url("../img/avatar_8.jpg");
}
/* Chat-List-Elements */
.c-l-e{
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #FFF;
  border-bottom: 0.5px solid #DBDBDB;
}
.c-l-e:hover{
  background-color: #F5F5F5;
  cursor: pointer;
}
.c-l-e-text{
  width: 100%;
  margin-left: 10px;
  line-height: 15px;
}
.c-l-e-name{
  font-weight: bold;
  margin: 0;
}
.infoText{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.downText{
  max-width: 50%;
}
.chatListText{
  width: 100px;
  text-overflow: ellipsis;
}
/* /Chat-List-Elements */
/* CONTACTS */

/* CHAT */
#chat{
  background-image: url("../img/mine.jpg");
  background-size: auto;
  background-position: center;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.chatProfile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-left: 0.5px solid #CCCCCC;
  border-bottom: 0.5px solid #CCCCCC;
  flex-direction: row;
  background-color: #EDEDED;
}
.picText{
  width: calc(100% - 100px);
}
.picChatActive{
  height: 50px;
  width: 50px;
  margin: 5px;
  background-image: url("../img/avatar_8.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.chatUtilityButtons{
  margin-right: 20px;
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttons{
  text-align: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  color: #80868A;
}
.textZone{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color:#F0F0F0;
  bottom: 0;
  width: 100%;
  height: 50px;
}
#emojiButton{
  margin: 0 auto;
  color: #BDC1C3;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  font-size: 20px;
}
#sendButton{
  margin: 0 auto;
  color: #BDC1C3;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  font-size: 20px;
}
#audioButton{
  margin: 0 auto;
  color: #BDC1C3;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  font-size: 20px;
}
#textArea{
  width: calc(100% - 100px);
  outline: none;
  border: 0;
  border-radius: 20px;
  padding: 10px;
}

/* AREA MESSAGGI */

.messageArea{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: scroll;
}
.RightMessage{
  display: flex;
  align-self: flex-end;
  flex-flow: column;
  margin: 5px;
  margin-right: 20px;
  padding: 7px;
  max-width: 55%;
  border-radius: 7px;
  background-color: #DCF8C6;
}
.messageTop{
  display: flex;
  align-content: space-between;
}
.RightMessage .mText{
  margin-right: 30px;
}
.messageBottom{
  text-align: right;
}
.LeftMessage{
  display: flex;
  align-self: flex-start;
  flex-flow: column;
  margin: 5px;
  margin-left: 20px;
  padding: 7px;
  max-width: 55%;
  border-radius: 7px;
  background-color: #FFF;
}
.messageTop{
  display: flex;
  align-content: space-between;
}
.LeftMessage .mText{
  margin-right: 30px;
}
.sent{

}
.received{

}
.messageArea p{
  font-size: 20px;
}
